* {
  margin: 0;
  padding: 0;
  box-sizing: border-box
}

body {
  font-family: sans-serif;
  font-size: 20px;
}

#map-container {
  height: 100vh;
}

#count-colormap {
  width: 30px;
  height: 100px;
  position: fixed;
  right: 10px;
  top: 10px;
  background-color: red;
  z-index: 1000;
}
