[Unit]
Description=PT Insight Ingest
Requires=network.target
After=network.target

[Service]
Type=simple
WorkingDirectory={{ deploy_path }}/ingest
ExecStart={{ deploy_path }}/ingest/start.sh
User={{ deploy_user }}
Group={{ deploy_user }}

[Install]
WantedBy=multi-user.target
Alias=ptinsight-ingest.service
