[Unit]
Description=Apache Kafka
Documentation=http://kafka.apache.org/documentation.html
Requires=network.target
After=network.target

[Service]
Type=simple
SuccessExitStatus=143
ExecStart=/opt/kafka/bin/kafka-server-start.sh /opt/kafka/config/server.properties
User=kafka
Group=kafka
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
Alias=kafka.service
