[Unit]
Description=PT Insight Ingestion
Requires=network.target
After=network.target

[Service]
Type=simple
WorkingDirectory={{ deploy_path }}/ingestion
ExecStart={{ deploy_path }}/ingestion/start.sh
User={{ deploy_user }}
Group={{ deploy_user }}

[Install]
WantedBy=multi-user.target
Alias=ptinsight-ingestion.service
